*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
 
}

#nav{
    background-color: #75A36D;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    display: flex;
   
    left: 4px;
    top: 10px;
}
#nav2{
    display: flex;
    position: absolute;
    right: 30px;
    top: 10px;
}
#nav1{
    display: flex;
    position: absolute;
    left: 30px;
    top: 10px;
}

#b1{
     position: absolute;
     left: 200px;
     top: 70px;

}

#b2{
     position: absolute;
     left: 230px;
     top: 110px;

}

#form1{

height: 550px;
width: 350px;
position: absolute;
left: 230px;
top:170px;
background-color: whitesmoke;
border: solid black 1px ;
border-radius: 5px;}





label{
font-weight:600;
display:block;
margin-top:15px;
}

input, textarea{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:6px;
}

textarea{
height:80px;
resize:none;
}

.generate-btn{
width:100%;
margin-top:20px;
padding:12px;
background:#6CA651;
border:none;
color:white;
font-weight:bold;
border-radius:6px;
cursor:pointer;
}

#resume{

height: 450px;
width: 520px;
position: absolute;
right: 200px;
top:170px;
background-color: whitesmoke;
border: solid black 1px ;
border-radius: 5px;



}

#resume h3{
    margin-top: 20px;
    color: #374151;
}

#resume p{
    color: #6b7280;
}
ul{
    padding-left: 20px;
    margin-left: 0;
     color: #6b7280;
}